.email--footer-div{
    position: absolute;
    transform: rotate(90deg);
    bottom: 15vh;
    left: -5%;
}
.icon--footer-div{
    top: auto;
    position: absolute;
    transform: rotate(90deg);
    right: 0%;
    bottom: 8vh
}

text {
    overflow: hidden;
    text-align: center;
    font-family: Jetbrains Mono;
    color: lightcoral;
    opacity: 0.35;
    /* transform: rotate(90deg); */
}

text:after{
    background-color: slategray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10vh;
}

text:before {
    right: 0.5em;
    margin-left: -50%;
  }

text:hover {
    opacity: 1;
    transition: ease 0.5s;
}