.email--footer-div{
    position: absolute;
    transform: rotate(90deg);
    bottom: 15vh;
    left: 0%;
}
.icon--footer-div{
    top: auto;
    position: absolute;
    transform: rotate(90deg);
    right: 10%;
    bottom: 8vh
}

text {
    overflow: hidden;
    text-align: center;
    /* transform: rotate(90deg); */
}

text:after{
    background-color: aliceblue;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10vh;
}

text:before {
    right: 0.5em;
    margin-left: -50%;
  }